<config>
	<dflat>/home/dino/workspace/dflat/build/release/dflat</dflat>
	<gringo>/home/dino/workspace/dflat/tools/bin/gringo</gringo>
	<portfolio>jumpy</portfolio>
	<portfolio>frumpy</portfolio>
	<portfolio>crafty</portfolio>
	<portfolio>none</portfolio>
	<instances>
		<instance>
			<seed>1</seed>
			<normalization>none</normalization>
			<program>/home/dino/workspace/dflat/applications/sat/dynamic.lp</program>
			<edge>pos</edge>
			<edge>neg</edge>
			<input-file>/home/dino/workspace/dflat/learning-instances/sat_6_5.lp</input-file>
		</instance>
	</instances>
	<features>
		<feature name='tw' size='1' />
		<feature name='nor' />
	</features>
</config>
