<config>
	<dflat>/home/dino/workspace/dflat/build/release/dflat</dflat>
	<gringo>/home/dino/workspace/dflat/tools/bin/gringo</gringo>
	<portfolio>jumpy</portfolio>
	<portfolio>frumpy</portfolio>
	<portfolio>crafty</portfolio>
	<portfolio>none</portfolio>
	<portfolio>nopre</portfolio>
	<!--<instances>
		<instance>
			<seed>1</seed>
			<normalization>none</normalization>
			<program>/home/dino/workspace/dflat/applications/sat/dynamic.lp</program>
			<edge>pos</edge>
			<edge>neg</edge>
			<input-file>/home/dino/workspace/dflat/learning-instances-done/sat_6_5.lp</input-file>
		</instance>
	</instances>-->
	<instance-group>
		<program>../dominating_set_benchmark/dominating_set_dynamic.lp</program>
		<edge>edge</edge>
		<instance-file>../dominating_set_benchmark/dominating_set_test.csv</instance-file>
		<normalization join-type='default'>semi</normalization>
		<normalization join-type='extra'>semi</normalization>
		<normalization join-type='default'>weak</normalization>
		<normalization join-type='extra'>weak</normalization>
		<normalization>none</normalization>
	</instance-group>
	<features>
		<feature name='tw' size='1' />
		<feature name='nor' />
	</features>
</config>
